.card-list {
  display: flex;
  flex-direction: column;
}

.card {
  margin-top: 24px;
  background-color: #afffff;
}

.card-body {
  padding: 24px;
}

.card-title {
  font-size: 24px;
}

.loading-indicator {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reload-button-container {
  margin-top: 48px;
  text-align: center;
}

.reload-button {
  padding: 16px 32px;
  background-color: hotpink;
  font-size: 24px;
  border-radius: 4px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.reload-button:hover {
  color: white;
}
